<div class="container-fluid">
    <!-- Navigation -->
    <div class="navbar navbar-dark bg-dark">
        <a href="/dop" class="navbar-brand">
            DOP DEMO
        </a>
        <div>
            <a href="/dop" class="btn btn-outline-light">Home</a>
            <a href="/dop/readDB" class="btn btn-outline-light">Read DB</a>
            <!-- <a href="/dop/settings" class="btn btn-outline-light">Settings</a>
            <a href="/dop/pendingtransaction" class="btn btn-outline-light">Pending Txs</a>
            <a href="/dop/createtx" class="btn btn-outline-light">Create Tx</a> -->
        </div>
    </div>
</div>
